%p#notice= notice
%p
  %strong Content:
  = @product.content
%p
  %strong Price:
  = @product.price
%p
  = link_to purchase_path do
    購入する

%p
= link_to 'Edit', edit_product_path(@product)
-# = form_tag(action: :pay, method: :post) do
-#   %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_69d4fdd5021d46ae38f7bc96"}

= link_to 'Back', products_path
